<?xml version="1.0"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find yumi_control)/config/traj_controllers.yaml" command="load" ns="/yumi"/>
  <arg name="arm_controllers" default="joint_state_controller
                                       joint_traj_vel_controller_l
                                       joint_traj_vel_controller_r
                                       force_torque_sensor_controller"/>

  <!-- EGM parameters -->
  <rosparam file="$(find yumi_hw)/config/egm_rws_config.yaml" command="load" ns="/yumi/yumi_hw"/>

  <include file="$(find yumi_launch)/launch/yumi_base.launch">
    <arg name="egm" value="true"/>
    <arg name="arm_controllers" value="$(arg arm_controllers)"/>
    <arg name="arms_hardware_interface" value="VelocityJointInterface"/>
  </include>
</launch>
