<?xml version="1.0"?>
<launch>
  <rosparam file="$(find yumi_control)/config/position_controllers.yaml" command="load" ns="/yumi"/>
  <arg name="arm_controllers" default="joint_state_controller
                                       joint_pos_controller_1_r
                                       joint_pos_controller_2_r
                                       joint_pos_controller_7_r
                                       joint_pos_controller_3_r
                                       joint_pos_controller_4_r
                                       joint_pos_controller_5_r
                                       joint_pos_controller_6_r
                                       joint_pos_controller_1_l
                                       joint_pos_controller_2_l
                                       joint_pos_controller_7_l
                                       joint_pos_controller_3_l
                                       joint_pos_controller_4_l
                                       joint_pos_controller_5_l
                                       joint_pos_controller_6_l"/>

  <include file="$(find yumi_launch)/launch/yumi_base.launch">
    <arg name="egm" value="false"/>
    <arg name="arm_controllers" value="$(arg arm_controllers)"/>
    <arg name="arms_hardware_interface" value="PositionJointInterface"/>
  </include>

</launch>
